/*
*	 Author: Abdulwahab Nasir (weybansky)
*	  Email: weybansky@gmail.acom
*	 Github: https://github.com/weybansky
*	Website: https://www.weybanskytech.com.ng
*/

nav.navbar{
	margin-bottom: 0px;
	border-radius: 0px;
}

/**/
section#home-page-nav{
	/*background-color: #e2fae1;*/
	/**/
}
section#home-page-nav div#home-page-nav-row{
	padding: 7px 5px;
	background-color: #e2fae1;
	/**/
}
/**/

section#home-page-nav div#home-page-nav-row > div{
	border-right: 2px solid #afa;
	min-height: 60px;
}

section#home-page-nav div#home-page-nav-row > div img#profile-picture{
	padding: 5px;
	vertical-align: middle;
}

section#home-page-nav div#home-page-nav-row > div p#user-name{
	font-size: 16px;
	text-align: left;
	padding-top: 7px;
	margin-bottom: 0px;
}

section#home-page-nav div#home-page-nav-row > div p#user-name a{
	color: #333;
}
section#home-page-nav div#home-page-nav-row > div p#user-name a:hover{
	text-decoration: underline;
}

section#home-page-nav div#home-page-nav-row > div i{
	padding-top: 10px;
	color: #51b14f;
}
section#home-page-nav div#home-page-nav-row > div i:hover{
	/*color: #51b14f;*/
	color: #555;
}

section#home-page-nav div#home-page-nav-row > div span{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

section#home-page-nav div#home-page-nav-row > div#home-link{
	padding-right: 10px;
	padding-left: 20px;
}

section#home-page-nav div#home-page-nav-row > div#create-link{
	border-right: 0px transparent !important;
}

section#home-page-nav div#home-page-nav-row div a{
	text-decoration: none;
}
section#home-page-nav div#home-page-nav-row div a span{
	color: #333;
}
section#home-page-nav div#home-page-nav-row div a span:hover{
	text-decoration: underline;
	color: #666;
}


/*=========CONTENT==========*/
section#home-page-content{
	margin-top: 30px;
}

section#home-page-content ul.nav-tabs li a{
	background-color: #31C229;
	color: #fff;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	padding:5px 20px;
}

section#home-page-content div.tab-content div.panel{
	border-radius: 0px;
	border: 0px;
}

section#home-page-content div.tab-content div.panel div.panel-body{
	border-radius: 3px;
}

section#home-page-content div.tab-content div.panel div.panel-body{
	box-shadow: 1px 1px 6px #aaa, -1px 1px 6px #aaa;
	margin-bottom: 25px;
	/**/
}






@media (max-width: 991px) {
	section#home-page-nav div#home-page-nav-row > div img{
		width: 70px !important;
		height: 70px !important;
	}

	section#home-page-nav div#home-page-nav-row > div{
		border-right: 0px transparent !important;
		padding: 0px 5px;
		min-height: 40px;
	}

	section#home-page-nav div#home-page-nav-row > div span{
		font-size: 12px;
		display: none;
	}
}



@media (max-width: 768px) {
	section#home-page-nav div#home-page-nav-row > div img{
		float: right;
		width: 55px !important;
		height: 55px !important;
	}
}