/*
*	 Author: Abdulwahab Nasir (weybansky)
*	  Email: weybansky@gmail.acom
*	 Github: https://github.com/weybansky
*	Website: https://www.weybanskytech.com.ng
*/
/*=========CONTENT==========*/
section#home-page-content{
	margin-top: 30px;
}

section#home-page-content ul.nav-tabs li a{
	background-color: #31C229;
	color: #fff;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	padding:5px 20px;
}

section#home-page-content div.tab-content div.panel{
	border-radius: 0px;
	border: 0px;
}

section#home-page-content div.tab-content div.panel div.panel-body{
	border-radius: 3px;
}

section#home-page-content div.tab-content div.panel div.panel-body{
	box-shadow: 1px 1px 6px #aaa, -1px 1px 6px #aaa;
	margin-bottom: 18px;
	/**/
}

@media (max-width: 768px) {
	section#home-page-content{
		margin-top: 10px;
	}
	section#home-page-content ul.nav-tabs li a{
		background-color: #31C229;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		padding: 3px 10px;
	}
	section#home-page-content ul.nav-tabs li.active a{
		border-color: #31C229;
	}
	section#home-page-content div.tab-content div.panel div.panel-body{
		box-shadow: none;
		border-bottom: 1px solid #aaa;
	}
}