/*
*	 Author: Abdulwahab Nasir (weybansky)
*	  Email: weybansky@gmail.acom
*	 Github: https://github.com/weybansky
*	Website: https://www.weybanskytech.com.ng
*/
.icon-bar{
	color: #ffffff !important;
}

/*The Top Navigation*/
nav.navbar-default{
	background-color: #31C229 !important;
	border: 0px;
	border-radius: 0px;
	min-height: 30px !important;
	margin: 0px;
}

nav.navbar-default .navbar-form {
  border-color: #31C229;
}

nav div.navbar-header{
	min-width: 25%;
	height: 35px;
}

nav div.navbar-header a{
	font-family: monospace;
	color: #ffffff !important;
	font-size: 25px;
	font-weight: 600;
	margin: 0px !important;
}

nav div.navbar-header a.navbar-toggle{
	background-color: #31C229 !important;
	color:#ffffff !important;
	border: 0px transparent;
}

nav div.navbar-header a.navbar-brand{
	padding: 0px !important;
	padding-top: 5px !important;
	min-height: 30px;
}

nav div.navbar-header img{
	padding: 0px;
	margin: 0px;
	margin-left: 10px !important;
	height: 30px;
}

nav div.collapse{
	border: 0px solid;
}

nav div.collapse form{
	border: 0px solid;
	vertical-align: middle;
	margin-top: 5px;
	margin-bottom: 3px;
}

nav div.collapse form div.input-group span{
	background-color: #ffffff;
	color: #009900;
	border: 0px solid transparent !important;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
}

nav div.collapse form div.input-group input{
	border: 0px solid transparent;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
}
nav div.collapse form div.input-group input:focus{
	box-shadow: none;
}

nav div.collapse form button{
	display: none;
}

nav div div.collapse ul li a{
	color: #ffffff !important;
	font-weight: 600;
	font-family: 'Lato', sans-serif;
	font-size: 16	px; 
	padding: 10px;
	margin: 2px;
}

nav div div.collapse ul li:hover{
	background-color: #ffffff;
	color: #31C229 !important;
}
nav div div.collapse ul li a:hover{
	color: #31C229 !important;
}

/*Top Navber Modifications*/
nav div div.collapse ul li a i{
	padding-right: 10px;
	font-size: 16px;
	font-weight: lighter
}



/*Second Navigation*/
/*Second Navigation */
section#home-page-nav{
	/**/
}
section#home-page-nav div#home-page-nav-row{
	padding: 7px 5px;
	background-color: #e2fae1;
}

section#home-page-nav div#home-page-nav-row > div{
	border-right: 2px solid #afa;
	min-height: 60px;
}

section#home-page-nav div#home-page-nav-row > div img#profile-picture{
	padding: 5px;
	vertical-align: middle;
}

section#home-page-nav div#home-page-nav-row > div p#user-name{
	font-size: 16px;
	text-align: left;
	padding-top: 7px;
	margin-bottom: 0px;
}

section#home-page-nav div#home-page-nav-row > div p#user-name a{
	color: #333;
}
section#home-page-nav div#home-page-nav-row > div p#user-name a:hover{
	text-decoration: underline;
}

section#home-page-nav div#home-page-nav-row > div i{
	padding-top: 10px;
	color: #555;
}
section#home-page-nav div#home-page-nav-row > div i:hover{
	color: #51b14f;
	/*color: #555;*/
}

section#home-page-nav div#home-page-nav-row > div span{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

section#home-page-nav div#home-page-nav-row > div#home-link{
	padding-right: 10px;
	padding-left: 20px;
}

section#home-page-nav div#home-page-nav-row > div#create-link{
	border-right: 0px transparent !important;
}

section#home-page-nav div#home-page-nav-row div a{
	text-decoration: none;
}
section#home-page-nav div#home-page-nav-row div a span{
	color: #333;
}
section#home-page-nav div#home-page-nav-row div a span:hover{
	text-decoration: underline;
	color: #666;
}




@media (max-width: 991px) {
	section#home-page-nav div#home-page-nav-row > div img{
		width: 70px;
		height: 70px;
	}

	section#home-page-nav div#home-page-nav-row > div{
		border-right: 0px transparent !important;
		padding: 0px 5px;
		min-height: 40px;
	}

	section#home-page-nav div#home-page-nav-row > div span{
		font-size: 12px;
		display: none;
	}
}


@media (max-width: 768px) {
	/*body,
	i, 
	a, 
	p, 
	span{
		font-size: 12px !important;
	}*/

	nav.navbar div.navbar-header{
		height: 30px;
	}
	nav.navbar div.navbar-header a.navbar-brand{
		height: auto;
	}

	nav.navbar div.navbar-header a.navbar-brand img{
		height: 18px;
	}

	nav.navbar div.navbar-header a.navbar-toggle{
		padding: 5px 10px;
		height: 16px;
		font-size: 14px;
	}

	nav.navbar div.navbar-header .fa-bars{
		vertical-align: middle;
		top: 0px;
	}

	nav.navbar form.navbar-form{
		margin: 0px;
		padding: 5px 10px;
	}

	nav.navbar form.navbar-form button{
		display: none;
	}

	nav.navbar form.navbar-form div.input-group span,
	nav.navbar form.navbar-form div.input-group input{
		font-size: 12px;
		padding: 2px 12px;
		height: 28px;
	}

	nav.navbar ul.nav{
		margin: 5px 10px;
	}

	nav.navbar ul.nav li a{
		margin: 0px;
		padding: 5px 10px;
		font-size: 13px;
		font-weight: normal;
	}



	section#home-page-nav div#home-page-nav-row{
		padding: 3px 7px;
	}
	section#home-page-nav div#home-page-nav-row > div img{
		width: 40px;
		height: 40px;
		float: right;
		padding: 0px !important;
	}

	section#home-page-nav div#home-page-nav-row div.row{
		padding: 0px 5px;
	}

	section#home-page-nav div#home-page-nav-row div.row div{
		padding: 0px 5px;
	}

	section#home-page-nav div#home-page-nav-row div.col-xs-2.col-md-2{
		/*display: none;*/
		width: 20%;
		margin: 0px;
		text-align: center;
		font-size: 12px;
		padding: 0px 5px !important;
	}
	
	section#home-page-nav div#home-page-nav-row div.col-xs-2.col-md-2 a.active i{
		color: #31C229;
	}

}
