/*
*	 Author: Abdulwahab Nasir (weybansky)
*	  Email: weybansky@gmail.acom
*	 Github: https://github.com/weybansky
*	Website: https://www.weybanskytech.com.ng
*/
.icon-bar{
	color: #ffffff !important;
}


/*The Top Navigation*/
nav.navbar-default{
	border: 0px solid;
	background-color: #31C229 !important;
	/*position: fixed;*/
	width: 100%;
	/*z-index: 5;*/
	/*top: 0;*/
	border-radius: 0px;
	margin-bottom: 10px;
	min-height: 30px !important;
}

nav.navbar-default .navbar-form {
  border-color: #31C229;
}

nav div.navbar-header{
	min-width: 25%;
	height: 35px;
}

nav div.navbar-header a{
	font-family: monospace;
	color: #ffffff !important;
	font-size: 25px;
	font-weight: 600;
	margin: 0px !important;
	/*padding: 5px !important;*/
}

nav div.navbar-header a.navbar-toggle{
	background-color: #31C229 !important;
	color:#ffffff !important;
	border: 0px transparent;
}

nav div.navbar-header a.navbar-brand{
	padding: 0px !important;
	padding-top: 5px !important;
	min-height: 30px !important;
}

nav div.navbar-header img{
	padding: 0px;
	margin: 0px;
	margin-left: 10px !important;
	height: 30px;
}

nav div.collapse{
	border: 0px solid;
}

nav div.collapse form{
	border: 0px solid;
	vertical-align: middle;
	margin-top: 5px;
	margin-bottom: 3px;
}

nav div.collapse form div.input-group span{
	background-color: #ffffff;
	color: #009900;
	border: 0px solid transparent !important;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
}

nav div.collapse form div.input-group input{
	border: 0px solid transparent;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
}
nav div.collapse form div.input-group input:focus{
	box-shadow: none;
}

nav div.collapse form button{
	display: none;
}

nav div div.collapse ul li a{
	color: #ffffff !important;
	font-weight: 600;
	font-family: 'Lato', sans-serif;
	font-size: 16	px; 
	padding: 10px;
	margin: 2px;
}

nav div div.collapse ul li:hover{
	background-color: #ffffff;
	color: #31C229 !important;
}
nav div div.collapse ul li a:hover{
	color: #31C229 !important;
}

/*Top Navber Modifications*/
nav div div.collapse ul li a i{
	padding-right: 10px;
	font-size: 16px;
	font-weight: lighter
}


@media (max-width: 768px) {
	a.navbar-brand{
		height: 28px;
	}
}




nav.navbar{
	margin-bottom: 0px;
	border-radius: 0px;
}

/**/
section#home-page-nav{
	margin-top: 0px !important;
	margin-bottom: 10px;
	background-color: #e2fae1;
}
section#home-page-nav div#home-page-nav-row{
	padding: 7px 5px;
	/**/
}
/**/

section#home-page-nav div#home-page-nav-row > div{
	border-right: 2px solid #afa;
	min-height: 60px;
}

section#home-page-nav div#home-page-nav-row > div img#profile-picture{
	padding: 5px;
	vertical-align: middle;
}

section#home-page-nav div#home-page-nav-row > div p#user-name{
	font-size: 16px;
	text-align: left;
	padding-top: 7px;
	margin-bottom: 0px;
}

section#home-page-nav div#home-page-nav-row > div p#user-name a{
	color: #333;
}
section#home-page-nav div#home-page-nav-row > div p#user-name a:hover{
	text-decoration: underline;
}

section#home-page-nav div#home-page-nav-row > div i{
	padding-top: 10px;
	color: #555;
}
section#home-page-nav div#home-page-nav-row > div i:hover{
	color: #51b14f;
	/*color: #555;*/
}

section#home-page-nav div#home-page-nav-row > div span{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

section#home-page-nav div#home-page-nav-row > div#home-link{
	padding-right: 10px;
	padding-left: 20px;
}

section#home-page-nav div#home-page-nav-row > div#create-link{
	border-right: 0px transparent !important;
}

section#home-page-nav div#home-page-nav-row div a{
	text-decoration: none;
}
section#home-page-nav div#home-page-nav-row div a span{
	color: #333;
}
section#home-page-nav div#home-page-nav-row div a span:hover{
	text-decoration: underline;
	color: #666;
}