/*
*	 Author: Abdulwahab Nasir (weybansky)
*	  Email: weybansky@gmail.com
*	 Github: https://github.com/weybansky
*	Website: https://www.weybanskytech.com.ng
*/


section#search-page div.search-form input{
	border: 0px;
	padding: 3px;
	padding-left: 15px;
	min-width: 93%;
}

section#search-page div.search-form button{
	background-color: #fff;
	border: 0px;
	padding: 3px;
	padding-right: 20px;
	padding-left: 10px;
	font-size: 18px;
	color: #31C229;
	float: right;
	min-height: 25px;
	min-width: 5%;
}

section#search-page div.search-form div.input-group{
	border: 2px solid #555;
	border-radius: 30px;
	padding: 10px;
	display: block;
}


section#search-page div.search-user-content h3#title,
section#search-page div.search-post-content h3#title{
		margin-bottom: 20px;
}

/*===== Styling for Users Search =====*/
section#search-page div.search-user-content div.contents > div{
	padding-left: 8px;
	padding-right: 8px;
}

section#search-page div.search-user-content img{
	height: 100px;
	width: 100px;
	/*float: right;*/
}

section#search-page div.search-user-content p{
	margin-bottom: 5px;
}

section#search-page div.search-user-content p a{
	color: #31C229;
}

section#search-page div.search-user-content p a:hover{
	color: #333;
}

section#search-page div.search-user-content p#name{
	font-size: 18px;
}

section#search-page div.search-user-content a.btn{
	border: 1px solid #31C229;
	color: #333;
	background-color: #fff;
	border-radius: 30px;
	padding: 7px 10px;
	margin: 5px;
	min-width: 100px;
}

section#search-page div.search-user-content a.btn:hover{
	background-color: #31C229;
	color: #fff;
}

section#search-page div.search-user-content span#user-details{
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	padding-left: 5px;
}




/*====== Styling for Posts Search ======*/
section#search-page div.search-post-content div.contents > div{
	padding-left: 8px;
	padding-right: 8px;
}

section#search-page div.search-post-content div.well{
	padding-right: 7px;
	padding-left: 7px;
}

section#search-page div.search-post-content div.post p a{
	color: #090;
}
section#search-page div.search-post-content div.post p a:hover{
	text-decoration: none;
}

section#search-page div.search-post-content div.post p#post-title{
	font-size: 18px;
	padding-top: 5px;
	margin-bottom: 1px;
}

section#search-page div.search-post-content div.post p#post-title:hover{
	text-decoration: underline;
}

section#search-page div.search-post-content div.post p#post-details a{
	color: #555;
}
section#search-page div.search-post-content div.post p#post-details a:hover{
	color: #090;
}



section#search-page div.category-tag h3#title{
	font-weight: bold;
	color: #fff;
	background-color: #319e2e;
	padding: 35px 10px;
	padding-top: 40px;
}
section#search-page div.category-tag p#post-title{
	font-size: 24px !important;
}
section#search-page div.category-tag p#post-details{
	font-size: 14px !important;
}
section#search-page div.category-tag div.well{
	padding-right: 10px;
	padding-left: 10px;
}



@media (max-width: 991px) {
	/*Tablet View Adjustments*/
	section#search-page div.search-user-content span#user-details{
		display: block;
		padding-top: 5px;
	}

}



@media (max-width: 768px) {
	/*Mobile View Adjustments*/
	section#search-page div.search-form input{
		min-width: 88%;
	}
	section#search-page div.search-form button{
		min-width: 4%;
	}

	section#search-page div.search-user-content h3#title,
	section#search-page div.search-post-content h3#title{
		font-size: 18px;
		margin-bottom: 20px;
		padding-left: 5px;
	}

	section#search-page div.search-user-content div.row > div{
		padding-right: 5px;
		padding-left: 5px;
		padding-top: 0px !important;
	}

	section#search-page div.search-user-content img{
		height: 70px;
		width: 70px;
	}

	section#search-page div.search-user-content a#follow,
	section#search-page div.search-user-content a#following{
		padding: 5px 3px;
		min-width: 70px;
		margin: 1px;
	}

	section#search-page div.search-user-content a#profile-btn{
		display: none;
	}

	section#search-page div.search-user-content p#name,
	section#search-page div.search-user-content p#username{
		padding-top: 1px;
	}
	section#search-page div.search-user-content p#name{
		font-size: 16px;
		line-height: 12px;
	}
	section#search-page div.search-user-content span#user-details{
		font-size: 12px;
		padding-top: 2px;
		padding-left: 0px;
	}
	section#search-page div.search-user-content p#short-bio{
		display: none;
	}


	/* Style for Post Search*/
	section#search-page div.search-post-content div.post p#post-title{
		font-size: 17px;
	}
	section#search-page div.search-post-content div.post p#post-details{
		font-size: 13px;
	}


	/* Styling for Category / Tag Page*/
	section#search-page div.category-tag h3#title{
		padding: 30px 3px;
		padding-top: 35px;
	}


}